* {
  margin: 0;
  padding: 0;
  border: 0;
	font-size: 100%;
	font: inherit;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}